# GEMINI_API_KEY=<GEMINI_API_KEY>
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=<LANGSMITH_API_KEY>
LANGSMITH_PROJECT="LEDSRequirementsAgents"

CORS_ORIGIN=<FRONTEND_URL>
CORS_ALLOWED_ORIGINS=<FRONTEND_URL>

ALLOWED_HOSTS=*

DJANGO_ALLOWED_HOSTS=<URL_BACKEND>

DJANGO_SUPERUSER_USERNAME=<USERNAME>
DJANGO_SUPERUSER_EMAIL=<EMAIL>
DJANGO_SUPERUSER_PASSWORD=<PASSWORD>

OAUTH_CLIENT_ID=<FIXED_ID>

USE_SQLITE=True

DB_ENGINE_LOCAL=django.db.backends.sqlite3
DB_HOST_LOCAL=""
DB_NAME_LOCAL='sqlite3.db'
DB_USER_LOCAL=
DB_PASSWORD_LOCAL=
DB_PORT_LOCAL=


DB_ENGINE_TEST=django.db.backends.sqlite3
DB_HOST_TEST=""
DB_NAME_TEST='sqlite3.db'
DB_PASSWORD_TEST=""
DB_PORT_TEST=""
DB_USER_TEST=""

DB_ENGINE_PRODUCTION=django.db.backends.postgresql
DB_NAME_PRODUCTION=
DB_USER_PRODUCTION=
DB_PASSWORD_PRODUCTION=
DB_HOST_PRODUCTION=
DB_PORT_PRODUCTION=

DEBUG=True
SECRET_KEY=3izb^ryglj(bvrjb2_y1fZvcnbky#358_l6-nn#i8fkug4mmz!

DEFAULT_FROM_EMAIL=xxxxxxx@xxxx.com
EMAIL_HOST=xxxx
EMAIL_HOST_PASSWORD=xxxx
EMAIL_HOST_USER=xxxx
EMAIL_PORT=587
EMAIL_USE_TLS=True        
HASHIDS_SALT=hA8(scA@!fg3*sc&xaGh&6%-l<._&xCf,
AI_CONFIG_ENCRYPTION_KEY=<AI_CONFIG_ENCRYPTION_KEY>

# Define qual versão do RAI rodar (local, production ou test)
DJANGO_SETTINGS_MODULE = rai.settings.production

URL_VALIDATION=
URL=

CORS_ORIGIN=<FRONTEND-URL> #Example: https://localhost:5173

CSRF_TRUSTED_ORIGINS=https://

# True para Docker, False para local
CELERY_ENABLED=False

# Celery + Redis
CELERY_BROKER_URL=redis://redis:6379/0 #Com Docker completo, fica redis://redis:6379/0, local fica redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Em Docker deve ficar False
CELERY_TASK_ALWAYS_EAGER=False
CELERY_TASK_EAGER_PROPAGATES=False

AI_CONFIG_ENCRYPTION_KEY=